.page-container__wrap
    section.benefits
        h2.benefits__title We offer the following <br /> benefits to companies
        
        .benefits__wrap
            .benefits__column
                .benefits__item.benefits__item_user
                    .benefits__text Companies can quickly and easily create an account for their Customer Service team. This allows company representatives to easily respond to users’ complaints, resolve problems, and monitor the company's overall track record.
                        
            .benefits__column
                .benefits__item.benefits__item_compass
                    .benefits__text Keep track of the company's performance and detect problems that customers most often face. By analyzing this data, companies can efficiently solve common issues and improve their reputation.
        
            .benefits__column
                .benefits__item.benefits__item_timer
                    .benefits__text There’s no need to waste time (and money) hunting down negative reviews and unfavorable feedback — they’re already collected on our platform! A company can see all of its feedback in one simple and integrated dashboard.
                        
            .benefits__column
                .benefits__item.benefits__item_note
                    .benefits__text Give your customers a seamless experience by creating a company profile page complete with opening hours, phone number(s), and other contact information.
                        
            .benefits__column
                .benefits__item.benefits__item_prize
                    .benefits__text Our platform gives companies a chance to improve customer loyalty, satisfaction, retention, all while turning ordinary buyers into "superfans".
                        
            .benefits__column
                .benefits__item.benefits__item_chart
                    .benefits__text Overall, ConsumerComplaints.in is an excellent addition to any company’s repertoire of customer service platforms. It serves as an additional touch point and can be used to improve customer satisfaction and reduce friction.
                        
            
                    
                
