.latest-complaints
    .latest-complaints__header
        .latest-complaints__title Latest Complaints
        
        a.latest-complaints__more(href="") View Full Complaints
    
    mixin item    
        .latest-complaints__item
            .latest-complaints__subtitle Punjab National Bank Housing Finance - Fraud Company...
                
            .latest-complaints__content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            
            .latest-complaints__row
                .latest-complaints__user
                    .latest-complaints__ava(style="background: url(i/avatar.png) center no-repeat;")
                    .latest-complaints__column
                        .latest-complaints__name Andrew Robinson
                        .latest-complaints__date 05 Apr 2021
                a.latest-complaints__read-more(href="") Read More
    
    +item
    +item
    +item
    
    a.latest-complaints__more.latest-complaints__more_bottom(href="") View Full Complaints
