
section.main-slide
    .page-container__wrap
        .main-slide__wrap
            .main-slide__column
                .main-slide__subtitle About us
                h1.main-slide__title At ConsumerComplaints.in we want to make sure you 
                    span.main-slide__title-active get your voice heard
                    
                .main-slide__text Ripped off by a dubious employee? Refused a refund by an unscrupulous online business? Treated poorly and humiliated by a cashier?
                
                a.main-slide__btn(href="") Submit a Complaints
                
            .main-slide__box
                .main-slide__box-wrap
                    img.main-slide__img(src="i/main-slide-photo.jpg" alt="")
                    span.main-slide__box-dot
                    
                .main-slide__item
                    .main-slide__quote On this section maybe will be shown your company tagline or also a sentence from company vision.
                    
                    .main-slide__name Jeremy Renner
                    .main-slide__status CEO of ICC Forum
