
header.page-header.page-header_absolute
    .page-header__overlay
    .page-header__wrap
        .page-header__btn
            span.page-header__btn-line
            span.page-header__btn-line
            span.page-header__btn-line
            span.page-header__btn-line
        
        .page-header__column        
            a.page-header__logo(href="#")
                img.page-header__logo-img(src="i/logo.svg" alt="logo")
                    
                img.page-header__logo-slogan(src="i/slogan.svg" alt="logo")
                    
            .page-header__search
                span.page-header__search-btn(type="submit")
                .page-header__search-ins
                    form.page-header__search-wrap(method='POST' action='')
                        button.page-header__search-submit(type="submit")
                        input.page-header__search-input(type="text" placeholder="Search here...")
                
        ul.page-header__menu.page-header__menu_row
            li.page-header__menu-item
                a.page-header__menu-link.page-header__menu-link_category(href="") Categories
            li.page-header__menu-item
                a.page-header__menu-link.page-header__menu-link_faq(href="") FAQ’s
            li.page-header__menu-item
                .page-header__user
                    .page-header__user-row
                        .page-header__user-ava(style="background: url(i/user.png) center no-repeat;")
                        .page-header__user-name Zealina
                    .page-header__user-dropdown
                        ul.page-header__user-list
                            li.page-header__user-item
                                a.page-header__user-link.page-header__user-link_account(href="") Account
                            li.page-header__user-item
                                a.page-header__user-link.page-header__user-link_messages(href="") Messages
                                    span.page-header__user-quan 10
                            li.page-header__user-item
                                a.page-header__user-link.page-header__user-link_notif(href="") Notifications
                            li.page-header__user-item
                                a.page-header__user-link.page-header__user-link_complaints(href="") Complaints
                            li.page-header__user-item    
                                a.page-header__user-link.page-header__user-link_exit(href="") Sign Out
                    
        .page-header__user
            a.page-header__user-submit(href="#") Submit a Complaint
        
    .page-header__mob-dropdown
        ul.page-header__menu
            li.page-header__menu-item
                a.page-header__menu-link.page-header__menu-link_submit(href="") Submit a Complaint
            li.page-header__menu-item
                a.page-header__menu-link.page-header__menu-link_category(href="") Categories
            li.page-header__menu-item
                a.page-header__menu-link.page-header__menu-link_faq(href="") FAQ’s
            li.page-header__menu-item.page-header__menu-item_arrow
                .page-header__menu-box 
                    .page-header__menu-ava(style="background: url(i/user.png) center no-repeat;")
                    .page-header__menu-name Zealina
                
                ul.page-header__menu-dropdown
                    li.page-header__menu-item
                        a.page-header__menu-link.page-header__menu-link_account(href="") Account
                    li.page-header__menu-item
                        a.page-header__menu-link.page-header__menu-link_messages(href="") Messages
                            span.page-header__menu-quan 10
                    li.page-header__menu-item
                        a.page-header__menu-link.page-header__menu-link_notif(href="") Notifications
                    li.page-header__menu-item
                        a.page-header__menu-link.page-header__menu-link_complaints(href="") Complaints
                    li.page-header__menu-item    
                        a.page-header__menu-link.page-header__menu-link_exit(href="") Sign Out
            
