
footer.page-footer
    .page-footer__ins
        .page-footer__top
            .page-footer__wrap
                .page-footer__text Get a fast response from<br /> every compaints that you post.
                
                a.page-footer__btn(href="#") Register Now
            
        .page-footer__center
            .page-footer__column-left
                a.page-footer__logo(href="#")
                    img.page-footer__logo-img(src="i/footer-logo.svg" alt="logo")
                
                .page-footer__descr ConsumerComplaints.in is a consumer complaints platform where buyers can write a complaint against the company with which they had a negative experience.
                    
            .page-footer__column-center
                .page-footer__navi
                    ul.page-footer__navi-list
                        li.page-footer__navi-item
                            span.page-footer__navi-title Main Menu
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Consumer Complaints
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Submit Complains
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Categories
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Lates Complaints
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Categories
                            
                    ul.page-footer__navi-list
                        li.page-footer__navi-item
                            span.page-footer__navi-title additional
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Terms of Use
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Privacy Policy
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Cookie Policy
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Comment Guideliness
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") About us
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Contact Us
                            
                    ul.page-footer__navi-list
                        li.page-footer__navi-item
                            span.page-footer__navi-title follow us
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Facebook  
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Instagram
                        li.page-footer__navi-item
                            a.page-footer__navi-link(href="#") Twitter
                
            .page-footer__column-right
                .page-footer__subscr
                    form.page-footer__subscr-wrap(method='POST' action='')
                        label.page-footer__subscr-label subscribe us
                        
                        input.page-footer__subscr-input(type="text" placeholder="Email address")
                            
                        button.page-footer__subscr-btn(type="submit") Subscribe
    
    .page-footer__bottom    
        .page-footer__ins
            .page-footer__copyright &copy; 2021 Indian Consumer Complaints Forum
