.recently-resolved
    .recently-resolved__title Recently Resolved
    
    .recently-resolved__carousel
        mixin item
            div
                .recently-resolved__item
                    .recently-resolved__subtitle 
                        a.recently-resolved__link(href="") Really good services
                    .recently-resolved__text “Charged for modern rental that I own, account online has..
                    .recently-resolved__row
                        .recently-resolved__check Resolved
                        .recently-resolved__logo
                            img.recently-resolved__logo-img(src="i/mini-logo.png" alt="")
                                            
        +item
        +item
        +item
