extends layout/main-logged

block title
    | Title

block content
    include modules/main-slide
    include modules/introduction
    include modules/introduction-list
    include modules/benefits
    include modules/works
    include modules/about
    include modules/about-mission
    include modules/about-loyalty
