.about {
  padding: 139px 0 1px;
}
.about_loyalty {
  padding-top: 35px;
  padding-bottom: 130px;
}
.about__title {
  font-size: 40px;
  font-weight: bold;
  color: #0F122E;
  margin: 0 0 12px;
  font-family: 'Manrope', sans-serif;
  line-height: 1.3;
}
.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__column {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
.about__text {
  color: #57586B;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  width: 90%;
  padding-bottom: 12px;
}
.about__paragraph {
  margin: 0 0 24px;
}
.about__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.about__btn {
  border: 1px solid #F6F6F9;
  display: inline-block;
  vertical-align: middle;
  padding: 17px 37px 18px;
  color: #62A824;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  -webkit-box-shadow: 4px 12px 24px rgba(98, 168, 36, 0.05);
          box-shadow: 4px 12px 24px rgba(98, 168, 36, 0.05);
  border-radius: 50px;
}

@media (max-width: 768px) {
  .about {
    padding-top: 63px;
    padding-bottom: 8px;
  }
  .about_loyalty {
    padding-bottom: 128px;
  }
  .about__title {
    font-size: 32px;
    line-height: 1.375;
    margin-bottom: 16px;
  }
  .about__text {
    font-size: 14px;
    line-height: 1.6;
    width: 100%;
    padding-bottom: 2px;
  }
  .about__btn {
    font-size: 14px;
    padding: 14px 40px;
  }
  .about__paragraph {
    margin-bottom: 22px;
  }
  .about__column {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .about__column_text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
  }
  .about__column_picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about__img {
    margin: 0 auto;
  }
}
