.care-block {
  padding: 40px 0;
}
.care-block__title {
  text-align: center;
  font-size: 40px;
  color: #0F122E;
  font-weight: bold;
  line-height: 1.375;
  font-family: 'Manrope', sans-serif;
  margin: 0 0 14px;
}
.care-block__text {
  text-align: center;
  font-size: 20px;
  color: #57586B;
  line-height: 1.2;
  font-family: 'Inter', sans-serif;
  margin-bottom: 42px;
}
.care-block__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.care-block__item {
  width: 196px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3px 30px;
}
.care-block__img {
  max-height: 24px;
  display: block;
  width: auto;
}

@media (max-width: 768px) {
  .care-block {
    padding: 56px 0;
  }
  .care-block__title {
    font-size: 32px;
    line-height: 1.375;
    margin-bottom: 8px;
  }
  .care-block__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 22px;
  }
  .care-block__item {
    width: auto;
    -ms-flex: 0 0 49%;
    -webkit-box-flex: 0;
            flex: 0 0 49%;
    max-width: 49%;
    margin: 0 0 4px;
  }
}
