.care-block {
    padding: 40px 0;

    &__title {
        text-align: center;
        font-size: 40px;
        color: #0F122E;
        font-weight: bold;
        line-height: 1.375;
        font-family: 'Manrope', sans-serif;
        margin: 0 0 14px;
    }

    &__text {
        text-align: center;
        font-size: 20px;
        color: #57586B;
        line-height: 1.2;
        font-family: 'Inter', sans-serif;
        margin-bottom: 42px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        width: 196px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 3px 30px;
    }

    &__img {
        max-height: 24px;
        display: block;
        width: auto;
    }
}

@media (max-width: 768px) {
    .care-block {
        padding: 56px 0;

        &__title {
            font-size: 32px;
            line-height: 1.375;
            margin-bottom: 8px;
        }

        &__text {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 22px;
        }

        &__item {
            width: auto;
            -ms-flex: 0 0 49%;
            flex: 0 0 49%;
            max-width: 49%;
            margin: 0 0 4px;
        }
    }
}
