.latest-complaints__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
.latest-complaints__title {
  color: #0F122E;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.45;
  font-family: 'Manrope', sans-serif;
}
.latest-complaints__more {
  font-size: 14px;
  font-weight: bold;
  color: #2457BA;
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
}
.latest-complaints__more_bottom {
  display: none;
}
.latest-complaints__item {
  border: 1px solid #F6F6F9;
  padding: 24px 24px;
  margin-bottom: 16px;
  background: #ffffff;
  border-radius: 4px;
}
.latest-complaints__subtitle {
  color: #0F122E;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 12px;
  line-height: 1.625;
}
.latest-complaints__content {
  color: #57586B;
  font-size: 15px;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  margin-bottom: 24px;
}
.latest-complaints__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.latest-complaints__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.latest-complaints__ava {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.latest-complaints__name {
  font-size: 14px;
  font-weight: 500;
  color: #0F122E;
  line-height: 1.2;
  margin-bottom: 4px;
  font-family: 'Inter', sans-serif;
}
.latest-complaints__date {
  font-size: 12px;
  color: #A8A9B7;
  font-family: 'Inter', sans-serif;
  line-height: 1.25;
}
.latest-complaints__read-more {
  font-weight: 600;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: #0F122E;
  position: relative;
  padding-right: 28px;
  display: block;
}
.latest-complaints__read-more::before {
  content: "";
  width: 15px;
  height: 12px;
  margin-top: -6px;
  position: absolute;
  right: 0;
  top: 50%;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjI1IDAuNzVMOS4xOTI1IDEuODA3NUwxMi42Mjc1IDUuMjVIMC41VjYuNzVIMTIuNjI3NUw5LjE4NSAxMC4xOTI1TDEwLjI1IDExLjI1TDE1LjUgNkwxMC4yNSAwLjc1WiIgZmlsbD0iIzBGMTIyRSIvPgo8L3N2Zz4K") center no-repeat;
}

@media (max-width: 768px) {
  .latest-complaints {
    border-bottom: 2px solid #EBEBF2;
    padding-bottom: 36px;
    margin-bottom: 30px;
  }
  .latest-complaints__header .latest-complaints__more {
    display: none;
  }
  .latest-complaints__content {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 21px;
  }
  .latest-complaints__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .latest-complaints__user {
    width: 100%;
    margin-bottom: 26px;
  }
  .latest-complaints__ava {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .latest-complaints__more_bottom {
    display: block;
    text-align: center;
    margin-top: 24px;
  }
  .latest-complaints__item {
    padding: 19px 20px 29px;
    margin-bottom: 15px;
  }
  .latest-complaints__subtitle {
    line-height: 1.375;
  }
}
