.page-footer {
  position: relative;
  background: #0F122E;
  z-index: 9;
}
.page-footer__ins {
  max-width: 1186px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 60px;
}
.page-footer__top {
  padding: 60px 0 0;
}
.page-footer__center {
  padding: 87px 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__bottom {
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.04);
}
.page-footer__column-left {
  -ms-flex: 0 0 26%;
  -webkit-box-flex: 0;
          flex: 0 0 26%;
  max-width: 26%;
}
.page-footer__column-center {
  -ms-flex: 0 0 56%;
  -webkit-box-flex: 0;
          flex: 0 0 56%;
  max-width: 56%;
  padding: 0 50px 0 70px;
}
.page-footer__column-right {
  -ms-flex: 0 0 18%;
  -webkit-box-flex: 0;
          flex: 0 0 18%;
  max-width: 18%;
}
.page-footer__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
  margin-bottom: 0;
  display: block;
  width: 228px;
}
.page-footer__descr {
  margin-top: -3px;
  margin-bottom: 20px;
  font-size: 13px;
  color: rgba(255, 255, 225, 0.6);
  line-height: 1.8;
  font-family: 'Inter', sans-serif;
}
.page-footer__text {
  font-size: 40px;
  font-family: 'Manrope', sans-serif;
  line-height: 1.3;
  margin-right: 70px;
  font-weight: 700;
  color: #ffffff;
}
.page-footer__btn {
  background: #62A824;
  border-radius: 4px;
  display: block;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  white-space: nowrap;
  padding: 18px 23px 19px;
  font-size: 16px;
  position: relative;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.2;
  font-family: 'Inter', sans-serif;
  border: 1px solid #62A824;
}
.page-footer__btn:hover {
  color: #62A824;
  text-decoration: none;
  background: none;
}
.page-footer__copyright {
  line-height: 1.6;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #A8A9B7;
  text-align: center;
}
.page-footer__navi {
  margin: 0 0 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.page-footer__navi-list {
  list-style-type: none;
}
.page-footer__navi-item {
  margin-bottom: 13px;
}
.page-footer__navi-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  display: block;
  font-weight: 800;
  padding-bottom: 3px;
}
.page-footer__navi-link {
  color: #57586B;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
}
.page-footer__navi-link:hover {
  color: #fff;
  text-decoration: none;
}
.page-footer__subscr-label {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  display: block;
  margin: 0 0 17px;
  font-weight: 800;
}
.page-footer__subscr-input {
  font-size: 14px;
  padding: 0 5px 0 43px;
  height: 44px;
  width: 100%;
  color: #A8A9B7;
  font-family: 'Inter', sans-serif;
  border: 1px solid #57586B;
  border-radius: 3px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0IDBIMkMxLjE3NSAwIDAuNTA3NSAwLjY3NSAwLjUwNzUgMS41TDAuNSAxMC41QzAuNSAxMS4zMjUgMS4xNzUgMTIgMiAxMkgxNEMxNC44MjUgMTIgMTUuNSAxMS4zMjUgMTUuNSAxMC41VjEuNUMxNS41IDAuNjc1IDE0LjgyNSAwIDE0IDBaTTE0IDNMOCA2Ljc1TDIgM1YxLjVMOCA1LjI1TDE0IDEuNVYzWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==") 13px center no-repeat;
  margin-bottom: 12px;
}
.page-footer__subscr ::-webkit-input-placeholder {
  color: #A8A9B7;
}
.page-footer__subscr ::-moz-placeholder {
  color: #A8A9B7;
}
.page-footer__subscr :-ms-input-placeholder {
  color: #A8A9B7;
}
.page-footer__subscr :-moz-placeholder {
  color: #A8A9B7;
}
.page-footer__subscr-btn {
  background: #0F122E;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.43;
  font-family: 'Manrope', sans-serif;
  width: 100%;
  cursor: pointer;
  display: block;
  border: 1px solid #ffffff;
  padding: 10px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.page-footer__subscr-btn:hover {
  color: #0F122E;
  background: #ffffff;
}
.page-footer__alphabet {
  margin-bottom: 20px;
}
.page-footer__alphabet-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  display: block;
  font-weight: 800;
  padding-bottom: 3px;
  margin-bottom: 11px;
}
.page-footer__alphabet-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.page-footer__alphabet-item {
  margin: 0 8px 5px 0;
}
.page-footer__alphabet-link {
  color: #57586B;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
  text-transform: uppercase;
}
.page-footer__alphabet-link:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .page-footer__text {
    font-size: 32px;
    line-height: 1.45;
  }
  .page-footer__center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 47px;
    padding-bottom: 8px;
  }
  .page-footer__column-left {
    -ms-flex: 0 0 60%;
    -webkit-box-flex: 0;
            flex: 0 0 60%;
    max-width: 60%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 20px;
  }
  .page-footer__column-center {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  .page-footer__column-right {
    -ms-flex: 0 0 40%;
    -webkit-box-flex: 0;
            flex: 0 0 40%;
    max-width: 40%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 768px) {
  .page-footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 49px;
  }
  .page-footer__bottom {
    padding: 16px 0;
  }
  .page-footer__text {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 32px;
  }
  .page-footer__btn {
    padding: 14px 28px 15px;
  }
  .page-footer__descr {
    font-size: 12px;
    text-align: center;
    line-height: 1.85;
    margin-bottom: 40px;
  }
  .page-footer__column-left {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .page-footer__column-center {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 0;
  }
  .page-footer__column-right {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .page-footer__logo {
    margin: 0 auto 10px;
  }
  .page-footer__navi-title {
    font-size: 12px;
    line-height: 1.3;
    padding-bottom: 1px;
  }
  .page-footer__navi-item {
    margin-bottom: 11px;
  }
  .page-footer__alphabet-title {
    font-size: 12px;
    line-height: 1.3;
    padding-bottom: 1px;
  }
  .page-footer__subscr {
    width: 210px;
    margin: 0 auto;
  }
  .page-footer__subscr-label {
    font-size: 12px;
    line-height: 1.85;
    text-align: center;
    margin-bottom: 11px;
  }
  .page-footer__copyright {
    font-size: 12px;
    line-height: 1.67;
  }
}
@media (max-width: 767px) {
  .page-footer__navi {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
  }
  .page-footer__navi-list {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 29px;
  }
  .page-footer__alphabet-title {
    text-align: center;
  }
  .page-footer__alphabet-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 576px) {
  .page-footer__text {
    font-size: 20px;
  }
}
