.page-header {
    padding: 0 20px;

    &_absolute {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        background: #1E6528;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
        position: relative;
        max-width: 1146px;
        min-width: 280px;
        margin: 0 auto;
        height: 86px;
        border-bottom: 1px solid rgba(249, 247, 246, 0.1);
    }

    &__column {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: auto;
    }

    &__menu {
        &_row {
            display: flex;
            align-items: center;
            margin-left: auto;
            padding-right: 13px;
        }

        &-item {
            position: relative;
            padding-top: 10px;
            box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.05);
        }

        &_row &-item {
            margin-right: 28px;
            padding-top: 0;
            box-shadow: none;
        }

        &-link {
            color: #ffffff;
            font-size: 14px;
            line-height: 1.2;
            font-weight: normal;
            white-space: nowrap;
            font-family: 'Inter', sans-serif;
            padding: 16px 10px 16px 28px;
            position: relative;
            display: block;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 22px;
                height: 22px;
                margin-top: -11px;
            }

            &_category::before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMuNjY2MDIgNy4zMzM0MUg3LjMzMjY4VjMuNjY2NzVIMy42NjYwMlY3LjMzMzQxWk05LjE2NjAyIDE4LjMzMzRIMTIuODMyN1YxNC42NjY3SDkuMTY2MDJWMTguMzMzNFpNMy42NjYwMiAxOC4zMzM0SDcuMzMyNjhWMTQuNjY2N0gzLjY2NjAyVjE4LjMzMzRaTTMuNjY2MDIgMTIuODMzNEg3LjMzMjY4VjkuMTY2NzVIMy42NjYwMlYxMi44MzM0Wk05LjE2NjAyIDEyLjgzMzRIMTIuODMyN1Y5LjE2Njc1SDkuMTY2MDJWMTIuODMzNFpNMTQuNjY2IDMuNjY2NzVWNy4zMzM0MUgxOC4zMzI3VjMuNjY2NzVIMTQuNjY2Wk05LjE2NjAyIDcuMzMzNDFIMTIuODMyN1YzLjY2Njc1SDkuMTY2MDJWNy4zMzM0MVpNMTQuNjY2IDEyLjgzMzRIMTguMzMyN1Y5LjE2Njc1SDE0LjY2NlYxMi44MzM0Wk0xNC42NjYgMTguMzMzNEgxOC4zMzI3VjE0LjY2NjdIMTQuNjY2VjE4LjMzMzRaIiBmaWxsPSIjRkZBMjA1Ii8+Cjwvc3ZnPgo=');
                background-position: center;
                background-repeat: no-repeat;
            }

            &_submit::before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3LjQxNjcgMi43NUg0LjU4MzMzQzMuNTY1ODMgMi43NSAyLjc1IDMuNTc1IDIuNzUgNC41ODMzM1YxNy40MTY3QzIuNzUgMTguNDI1IDMuNTY1ODMgMTkuMjUgNC41ODMzMyAxOS4yNUgxNy40MTY3QzE4LjQyNSAxOS4yNSAxOS4yNSAxOC40MjUgMTkuMjUgMTcuNDE2N1Y0LjU4MzMzQzE5LjI1IDMuNTc1IDE4LjQyNSAyLjc1IDE3LjQxNjcgMi43NVpNMTcuNDE2NyAxNy40MTY3SDQuNTgzMzNWNC41ODMzM0gxNy40MTY3VjE3LjQxNjdaTTEwLjA4MzMgMTUuNTgzM0gxMS45MTY3VjExLjkxNjdIMTUuNTgzM1YxMC4wODMzSDExLjkxNjdWNi40MTY2N0gxMC4wODMzVjEwLjA4MzNINi40MTY2N1YxMS45MTY3SDEwLjA4MzNWMTUuNTgzM1oiIGZpbGw9IiNGRkEyMDUiLz4KPC9zdmc+Cg==');
                background-position: center;
                background-repeat: no-repeat;
            }

            &_faq::before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuNjY3MzIgNC40OTk5MkgwLjgzMzk4NFYxNy4zMzMzQzAuODMzOTg0IDE4LjM0MTYgMS42NTg5OCAxOS4xNjY2IDIuNjY3MzIgMTkuMTY2NkgxNS41MDA3VjE3LjMzMzNIMi42NjczMlY0LjQ5OTkyWk0xNy4zMzQgMC44MzMyNTJINi4zMzM5OEM1LjMyNTY1IDAuODMzMjUyIDQuNTAwNjUgMS42NTgyNSA0LjUwMDY1IDIuNjY2NTlWMTMuNjY2NkM0LjUwMDY1IDE0LjY3NDkgNS4zMjU2NSAxNS40OTk5IDYuMzMzOTggMTUuNDk5OUgxNy4zMzRDMTguMzQyMyAxNS40OTk5IDE5LjE2NzMgMTQuNjc0OSAxOS4xNjczIDEzLjY2NjZWMi42NjY1OUMxOS4xNjczIDEuNjU4MjUgMTguMzQyMyAwLjgzMzI1MiAxNy4zMzQgMC44MzMyNTJaTTE3LjMzNCAxMy42NjY2SDYuMzMzOThWMi42NjY1OUgxNy4zMzRWMTMuNjY2NlpNMTEuMzg0OCA4LjMxMzI1QzExLjc2MDcgNy42NDQwOSAxMi40NjY1IDcuMjQ5OTIgMTIuODc5IDYuNjYzMjVDMTMuMzE5IDYuMDM5OTIgMTMuMDcxNSA0Ljg4NDkyIDExLjgzNCA0Ljg4NDkyQzExLjAyNzMgNC44ODQ5MiAxMC42MjQgNS40OTkwOSAxMC40NTkgNi4wMTI0Mkw5LjIwMzE1IDUuNDg5OTJDOS41NTE0OSA0LjQ2MzI1IDEwLjQ3NzMgMy41ODMyNSAxMS44MjQ4IDMuNTgzMjVDMTIuOTUyMyAzLjU4MzI1IDEzLjczMTUgNC4wOTY1OSAxNC4xMjU3IDQuNzM4MjVDMTQuNDY0OCA1LjI4ODI1IDE0LjY1NzMgNi4zMjQwOSAxNC4xMzQ4IDcuMDk0MDlDMTMuNTU3MyA3Ljk0NjU5IDEzLjAwNzMgOC4yMDMyNSAxMi43MDQ4IDguNzUzMjVDMTIuNTg1NyA4Ljk3MzI1IDEyLjUzOTggOS4xMTk5MiAxMi41Mzk4IDkuODM0OTJIMTEuMTQ2NUMxMS4xNTU3IDkuNDU5MDkgMTEuMDkxNSA4Ljg0NDkyIDExLjM4NDggOC4zMTMyNVpNMTAuODcxNSAxMS43ODc0QzEwLjg3MTUgMTEuMjQ2NiAxMS4zMDIzIDEwLjgzNDEgMTEuODM0IDEwLjgzNDFDMTIuMzc0OCAxMC44MzQxIDEyLjc4NzMgMTEuMjQ2NiAxMi43ODczIDExLjc4NzRDMTIuNzg3MyAxMi4zMTkxIDEyLjM4NCAxMi43NDk5IDExLjgzNCAxMi43NDk5QzExLjMwMjMgMTIuNzQ5OSAxMC44NzE1IDEyLjMxOTEgMTAuODcxNSAxMS43ODc0WiIgZmlsbD0iI0ZGQTIwNSIvPgo8L3N2Zz4K');
                background-position: center;
                background-repeat: no-repeat;
            }

            &_signin::before {
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxNSIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTguMTY0IDMuMzMzTDYuOTk3IDQuNWwyLjE2NyAyLjE2N2gtOC41djEuNjY3aDguNUw2Ljk5NyAxMC41bDEuMTY3IDEuMTY3TDEyLjMzMSA3LjUgOC4xNjQgMy4zMzN6bTcuNSAxMEg4Ljk5N1YxNWg2LjY2N2ExLjY3IDEuNjcgMCAwIDAgMS42NjctMS42NjdWMS42NjdBMS42NyAxLjY3IDAgMCAwIDE1LjY2NCAwSDguOTk3djEuNjY3aDYuNjY3djExLjY2N3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4=');
                background-position: center;
                background-repeat: no-repeat;
            }

            &:hover {
                color: #FFFFFF;
                text-decoration: underline;
            }
        }
    }

    &__search {
        &_bg {
            box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.05);
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.1);
            padding: 0 0 0 14px;
            margin-bottom: 15px;
        }

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &-input {
            font-size: 14px;
            padding: 0 5px 0 8px;
            height: 28px;
            width: 100%;
            border: none;
            background: none;
            color: #ffffff;
            font-family: 'Inter', sans-serif;
        }

        &_bg &-input {
            height: 48px;
        }

        ::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

        ::-moz-placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

        :-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

        :-moz-placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

        &-submit {
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjIwODMgMTAuODMzM0gxMS40ODQyTDExLjIyNzUgMTAuNTg1OEMxMi4xMjU4IDkuNTQwODMgMTIuNjY2NyA4LjE4NDE3IDEyLjY2NjcgNi43MDgzM0MxMi42NjY3IDMuNDE3NSA5Ljk5OTE3IDAuNzUgNi43MDgzMyAwLjc1QzMuNDE3NSAwLjc1IDAuNzUgMy40MTc1IDAuNzUgNi43MDgzM0MwLjc1IDkuOTk5MTcgMy40MTc1IDEyLjY2NjcgNi43MDgzMyAxMi42NjY3QzguMTg0MTcgMTIuNjY2NyA5LjU0MDgzIDEyLjEyNTggMTAuNTg1OCAxMS4yMjc1TDEwLjgzMzMgMTEuNDg0MlYxMi4yMDgzTDE1LjQxNjcgMTYuNzgyNUwxNi43ODI1IDE1LjQxNjdMMTIuMjA4MyAxMC44MzMzWk02LjcwODMzIDEwLjgzMzNDNC40MjU4MyAxMC44MzMzIDIuNTgzMzMgOC45OTA4MyAyLjU4MzMzIDYuNzA4MzNDMi41ODMzMyA0LjQyNTgzIDQuNDI1ODMgMi41ODMzMyA2LjcwODMzIDIuNTgzMzNDOC45OTA4MyAyLjU4MzMzIDEwLjgzMzMgNC40MjU4MyAxMC44MzMzIDYuNzA4MzNDMTAuODMzMyA4Ljk5MDgzIDguOTkwODMgMTAuODMzMyA2LjcwODMzIDEwLjgzMzNaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K') center no-repeat;
            width: 28px;
            height: 28px;
            cursor: pointer;
            display: block;
            border: none;
        }

        &-btn {
            display: none;
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjIwODMgMTAuODMzM0gxMS40ODQyTDExLjIyNzUgMTAuNTg1OEMxMi4xMjU4IDkuNTQwODMgMTIuNjY2NyA4LjE4NDE3IDEyLjY2NjcgNi43MDgzM0MxMi42NjY3IDMuNDE3NSA5Ljk5OTE3IDAuNzUgNi43MDgzMyAwLjc1QzMuNDE3NSAwLjc1IDAuNzUgMy40MTc1IDAuNzUgNi43MDgzM0MwLjc1IDkuOTk5MTcgMy40MTc1IDEyLjY2NjcgNi43MDgzMyAxMi42NjY3QzguMTg0MTcgMTIuNjY2NyA5LjU0MDgzIDEyLjEyNTggMTAuNTg1OCAxMS4yMjc1TDEwLjgzMzMgMTEuNDg0MlYxMi4yMDgzTDE1LjQxNjcgMTYuNzgyNUwxNi43ODI1IDE1LjQxNjdMMTIuMjA4MyAxMC44MzMzWk02LjcwODMzIDEwLjgzMzNDNC40MjU4MyAxMC44MzMzIDIuNTgzMzMgOC45OTA4MyAyLjU4MzMzIDYuNzA4MzNDMi41ODMzMyA0LjQyNTgzIDQuNDI1ODMgMi41ODMzMyA2LjcwODMzIDIuNTgzMzNDOC45OTA4MyAyLjU4MzMzIDEwLjgzMzMgNC40MjU4MyAxMC44MzMzIDYuNzA4MzNDMTAuODMzMyA4Ljk5MDgzIDguOTkwODMgMTAuODMzMyA2LjcwODMzIDEwLjgzMzNaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K') center no-repeat;
            width: 28px;
            height: 28px;
            cursor: pointer;
            border: none;
        }

        &_opened &-btn {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTE0IDEuNDFMMTIuNTkgMEw3IDUuNTlMMS40MSAwTDAgMS40MUw1LjU5IDdMMCAxMi41OUwxLjQxIDE0TDcgOC40MUwxMi41OSAxNEwxNCAxMi41OUw4LjQxIDdMMTQgMS40MVoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=');
        }
    }

    &__column &__search {
        border-left: 1px solid rgba(235, 235, 242, 0.12);
        padding-left: 20px;
    }

    &__btn {
        display: none;
        width: 16px;
        height: 16px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: 10;
        flex-shrink: 0;
        margin-right: 18px;

        &-line {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #fff;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;

            &:nth-child(1) {
                top: 4px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                top: 8px;
            }

            &:nth-child(4) {
                top: 12px;
            }
        }

        &_opened &-line {
            &:nth-child(1) {
                top: 18px;
                width: 0;
                left: 50%;
            }

            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 18px;
                width: 0;
                left: 50%;
            }
        }

        &_hidden {
            display: none;
        }
    }

    &__logo {
        margin-right: 30px;
        flex-shrink: 0;
        z-index: 10;
        transition: all 0.7s ease;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        &-img {
            display: block;
            width: 30px;
            max-width: 100%;
            height: auto;
        }

        &-slogan {
            display: block;
            width: 235px;
            height: 40px;
            margin-left: 12px;
        }
    }

    &__user {
        &-submit {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            line-height: 1.2;
            display: block;
            padding: 14px 20px;
            border: 1px solid #FFFFFF;
            border-radius: 4px;
            font-family: 'Inter', sans-serif;
            white-space: nowrap;
            transition: all .5s ease-in-out;

            &:hover {
                text-decoration: none;
                color: #1E6528;
                background: #ffffff;
            }
        }
    }

    &__mob-dropdown {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #1E6528;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
    }

    &__overlay {
        position: fixed;
        left: 0;
        top: 100px;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 0;
        display: none;
    }
}

body.overflow-hidden {
    overflow: hidden;
}

@media (max-width: 1024px) {
    .page-header {
        &__btn {
            display: block;
        }

        &__wrap &__menu {
            display: none;
        }

        &__mob-dropdown {
            &_opened {
                display: block;
            }
        }

        &__search {
            margin-left: auto;
            position: absolute;
            top: 50%;
            margin-top: -14px;
            right: 0;

            &_opened {
                top: 100%;
                right: -20px;
                left: -20px;
                margin-top: 0;
            }

            &-btn {
                display: block;
            }

            &_opened &-btn {
                position: absolute;
                right: 30px;
                top: 50%;
                margin-top: -14px;
            }

            &-wrap {
                display: none;
                transition: all 0.4s ease;
            }

            &-ins {
                display: none;
                padding: 10px 20px;
                margin-top: 1px;
                background: #1E6528;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
            }

            &_opened &-ins {
                display: flex;
            }

            &_opened &-wrap {
                -webkit-animation:show-search-mobile .2s ease;
                  animation:show-search-mobile .2s ease
            }

            @-webkit-keyframes show-search-mobile {
                0% {
                    -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
                    opacity: 0;
                }

                to {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            @keyframes show-search-mobile {
                0% {
                    -webkit-transform: translateY(-20px);
                    transform: translateY(-20px);
                    opacity: 0;
                }

                to {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            &-wrap {
                box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.05);
                border-radius: 4px;
                background: rgba(255, 255, 255, 0.1);
                display: flex;
                width: 100%;
                padding-left: 14px;
            }

            &_opened &-input {
               height: 48px;
               padding-right: 40px;
           }
        }

        &__column &__search {
            border: none;
            padding-left: 0;
            margin-left: 0;
        }

        &__column {
            margin-right: 0;
            max-width: 100%;
            width: 100%;
            padding-right: 34px;
        }

        &__logo {
            margin-left: auto;
            margin-right: auto;
        }

        &__overlay {
            &_active {
                display: block;
            }
        }

        &__user {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .page-header {
        &__wrap {
            height: 62px;
        }

        &__user {
            &-submit {
                padding: 9px 15px;
            }
        }

        &__logo {
            &-slogan {
                display: none;
            }
        }
    }
}
