.recently-resolved {
  margin: 0 0 39px;
  padding: 10px 0 23px;
  border-bottom: 2px solid #EBEBF2;
}
.recently-resolved__title {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  line-height: 1.45;
  margin: 0 0 2px;
}
.recently-resolved__item {
  border: 1px solid #F6F6F9;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  width: 285px;
  margin: 20px 20px 20px 0;
}
.recently-resolved__item:hover {
  -webkit-box-shadow: 4px 12px 24px rgba(98, 168, 36, 0.05);
          box-shadow: 4px 12px 24px rgba(98, 168, 36, 0.05);
}
.recently-resolved__subtitle {
  margin: 0 0 9px;
}
.recently-resolved__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.35;
  color: #0F122E;
  font-family: 'Manrope', sans-serif;
}
.recently-resolved__text {
  font-size: 14px;
  color: #57586B;
  line-height: 1.6;
  margin: 0 0 16px;
  font-family: 'Inter', sans-serif;
}
.recently-resolved__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recently-resolved__check {
  font-size: 14px;
  color: #62A824;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  line-height: 1.35;
  padding-left: 27px;
  position: relative;
}
.recently-resolved__check::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjAwMTMgMS42NjY5OUM1LjQwMTMgMS42NjY5OSAxLjY2Nzk3IDUuNDAwMzMgMS42Njc5NyAxMC4wMDAzQzEuNjY3OTcgMTQuNjAwMyA1LjQwMTMgMTguMzMzNyAxMC4wMDEzIDE4LjMzMzdDMTQuNjAxMyAxOC4zMzM3IDE4LjMzNDYgMTQuNjAwMyAxOC4zMzQ2IDEwLjAwMDNDMTguMzM0NiA1LjQwMDMzIDE0LjYwMTMgMS42NjY5OSAxMC4wMDEzIDEuNjY2OTlaTTguMzM0NjQgMTQuMTY3TDQuMTY3OTcgMTAuMDAwM0w1LjM0Mjk3IDguODI1MzNMOC4zMzQ2NCAxMS44MDg3TDE0LjY1OTYgNS40ODM2NkwxNS44MzQ2IDYuNjY2OTlMOC4zMzQ2NCAxNC4xNjdaIiBmaWxsPSIjNjJBODI0Ii8+Cjwvc3ZnPgo=") center no-repeat;
}
.recently-resolved__logo-img {
  width: auto;
  height: 20px;
  display: block;
}
.recently-resolved .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 5px;
}
.recently-resolved .slick-dots button {
  background: #62A824;
  opacity: 0.2;
  border-radius: 2px;
  width: 10px;
  height: 4px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow: hidden;
  text-indent: -999px;
  margin-right: 7px;
  border: none;
}
.recently-resolved .slick-dots .slick-active button {
  width: 20px;
  opacity: 1;
}
.recently-resolved .slick-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -27px;
  overflow: hidden;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  cursor: pointer;
}
.recently-resolved .slick-prev {
  right: 42px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgNUwxMC40MSA2LjQxTDUuODMgMTFIMjJWMTNINS44M0wxMC40MiAxNy41OUw5IDE5TDIgMTJMOSA1WiIgZmlsbD0iI0Q1RDVERSIvPgo8L3N2Zz4K") center no-repeat;
}
.recently-resolved .slick-prev:hover {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgNUwxMC40MSA2LjQxTDUuODMgMTFIMjJWMTNINS44M0wxMC40MiAxNy41OUw5IDE5TDIgMTJMOSA1WiIgZmlsbD0iIzBGMTIyRSIvPgo8L3N2Zz4K") center no-repeat;
}
.recently-resolved .slick-next {
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDVMMTMuNTkgNi40MUwxOC4xNyAxMUgyVjEzSDE4LjE3TDEzLjU4IDE3LjU5TDE1IDE5TDIyIDEyTDE1IDVaIiBmaWxsPSIjRDVENURFIi8+Cjwvc3ZnPgo=") center no-repeat;
}
.recently-resolved .slick-next:hover {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDVMMTMuNTkgNi40MUwxOC4xNyAxMUgyVjEzSDE4LjE3TDEzLjU4IDE3LjU5TDE1IDE5TDIyIDEyTDE1IDVaIiBmaWxsPSIjMEYxMjJFIi8+Cjwvc3ZnPgo=") center no-repeat;
}

@media (max-width: 1024px) {
  .recently-resolved__carousel {
    margin-right: -20px;
  }
  .recently-resolved .slick-prev {
    right: 62px;
  }
  .recently-resolved .slick-next {
    right: 20px;
  }
}
@media (max-width: 768px) {
  .recently-resolved {
    padding-top: 20px;
    padding-bottom: 17px;
    margin-bottom: 35px;
  }
  .recently-resolved__item {
    width: 245px;
    margin-right: 10px;
  }
}
