.resolved-complaints {
    padding: 80px 0 96px;

    &__title {
        font-size: 38px;
        color: #0F122E;
        font-weight: bold;
        line-height: 1.36;
        font-family: 'Manrope', sans-serif;
        margin: 0 0 13px;
    }

    &__item {
        padding: 25px 23px 23px;
        border: 1px solid #F6F6F9;
        background: #ffffff;
        border-radius: 4px;
        transition: all .5s ease-in-out;
        margin: 15px;

        &:hover {
            box-shadow: 4px 12px 24px rgba(117, 126, 109, 0.05);
        }
    }

    &__check {
        font-size: 14px;
        font-weight: bold;
        color: #62A824;
        margin-bottom: 17px;
        position: relative;
        line-height: 1.35;
        font-family: 'Manrope', sans-serif;
        padding-left: 27px;

        &::before {
            content: "";
            position: absolute;
            left: 1px;
            top: 50%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjAwMTMgMS42NjY5OUM1LjQwMTMgMS42NjY5OSAxLjY2Nzk3IDUuNDAwMzMgMS42Njc5NyAxMC4wMDAzQzEuNjY3OTcgMTQuNjAwMyA1LjQwMTMgMTguMzMzNyAxMC4wMDEzIDE4LjMzMzdDMTQuNjAxMyAxOC4zMzM3IDE4LjMzNDYgMTQuNjAwMyAxOC4zMzQ2IDEwLjAwMDNDMTguMzM0NiA1LjQwMDMzIDE0LjYwMTMgMS42NjY5OSAxMC4wMDEzIDEuNjY2OTlaTTguMzM0NjQgMTQuMTY3TDQuMTY3OTcgMTAuMDAwM0w1LjM0Mjk3IDguODI1MzNMOC4zMzQ2NCAxMS44MDg3TDE0LjY1OTYgNS40ODM2NkwxNS44MzQ2IDYuNjY2OTlMOC4zMzQ2NCAxNC4xNjdaIiBmaWxsPSIjNjJBODI0Ii8+Cjwvc3ZnPgo=') center no-repeat;
        }
    }

    &__text {
        font-size: 15px;
        color: #0F122E;
        line-height: 1.53;
        font-family: 'Inter', sans-serif;
        margin-bottom: 32px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        font-size: 14px;
        font-weight: bold;
        color: #0F122E;
        line-height: 1.36;
        font-family: 'Manrope', sans-serif;
        margin-right: auto;
    }

    &__img {
        height: 20px;
        display: block;
        width: auto;
        max-width: 100%;
        margin-right: 13px;
        flex-shrink: 0;
    }

    &__date {
        font-size: 12px;
        color: #A8A9B7;
        line-height: 1.25;
        font-family: 'Inter', sans-serif;
    }

    &__carousel {
        margin: 0 -15px;

        .slick-arrow {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            z-index: 10;
            overflow: hidden;
            border-radius: 50%;
            text-indent: -9999px;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            &.slick-disabled {
                display: none !important;
            }
        }

        .slick-prev {
            left: -10px;
            border: 1px solid #F6F6F9;
            box-shadow: 4px 12px 24px rgba(117, 126, 109, 0.05);
            background: #ffffff;

            &::before {
                background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEyLjUwMSA0LjE2N2wtMS4xNzUgMS4xNzUgMy44MTcgMy44MjVIMS42Njh2MS42NjdoMTMuNDc1bC0zLjgyNSAzLjgyNSAxLjE4MyAxLjE3NUwxOC4zMzUgMTBsLTUuODMzLTUuODMzeiIgZmlsbD0iIzBmMTIyZSIvPjwvc3ZnPg==') center no-repeat;
                transform: rotate(180deg);
            }
        }

        .slick-next {
            right: -10px;
            border: 1px solid #F6F6F9;
            box-shadow: 4px 12px 24px rgba(117, 126, 109, 0.05);
            background: #ffffff;

            &::before {
                background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEyLjUwMSA0LjE2N2wtMS4xNzUgMS4xNzUgMy44MTcgMy44MjVIMS42Njh2MS42NjdoMTMuNDc1bC0zLjgyNSAzLjgyNSAxLjE4MyAxLjE3NUwxOC4zMzUgMTBsLTUuODMzLTUuODMzeiIgZmlsbD0iIzBmMTIyZSIvPjwvc3ZnPg==') center no-repeat;
            }
        }
    }
}

@media (max-width: 1200px) {
    .resolved-complaints {
        &__carousel {
            .slick-prev {
                left: 0;
            }

            .slick-next {
                right: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .resolved-complaints {
        padding: 55px 0 72px;

        &__title {
            font-size: 32px;
            line-height: 1.375;
            margin-bottom: 5px;
        }

        &__carousel {
            margin-left: -6px;
            margin-right: -20px;

            .slick-prev {
                left: -4px;
            }

            .slick-next {
                right: 12px;
            }
        }

        &__item {
            width: 250px;
            margin-left: 6px;
            margin-right: 6px;
        }
    }
}
