.resolved-complaints {
  padding: 80px 0 96px; }
  .resolved-complaints__title {
    font-size: 38px;
    color: #0F122E;
    font-weight: bold;
    line-height: 1.36;
    font-family: 'Manrope', sans-serif;
    margin: 0 0 13px; }
  .resolved-complaints__item {
    padding: 25px 23px 23px;
    border: 1px solid #F6F6F9;
    background: #ffffff;
    border-radius: 4px;
    transition: all .5s ease-in-out;
    margin: 15px; }
    .resolved-complaints__item:hover {
      box-shadow: 4px 12px 24px rgba(117, 126, 109, 0.05); }
  .resolved-complaints__check {
    font-size: 14px;
    font-weight: bold;
    color: #62A824;
    margin-bottom: 17px;
    position: relative;
    line-height: 1.35;
    font-family: 'Manrope', sans-serif;
    padding-left: 27px; }
    .resolved-complaints__check::before {
      content: "";
      position: absolute;
      left: 1px;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjAwMTMgMS42NjY5OUM1LjQwMTMgMS42NjY5OSAxLjY2Nzk3IDUuNDAwMzMgMS42Njc5NyAxMC4wMDAzQzEuNjY3OTcgMTQuNjAwMyA1LjQwMTMgMTguMzMzNyAxMC4wMDEzIDE4LjMzMzdDMTQuNjAxMyAxOC4zMzM3IDE4LjMzNDYgMTQuNjAwMyAxOC4zMzQ2IDEwLjAwMDNDMTguMzM0NiA1LjQwMDMzIDE0LjYwMTMgMS42NjY5OSAxMC4wMDEzIDEuNjY2OTlaTTguMzM0NjQgMTQuMTY3TDQuMTY3OTcgMTAuMDAwM0w1LjM0Mjk3IDguODI1MzNMOC4zMzQ2NCAxMS44MDg3TDE0LjY1OTYgNS40ODM2NkwxNS44MzQ2IDYuNjY2OTlMOC4zMzQ2NCAxNC4xNjdaIiBmaWxsPSIjNjJBODI0Ii8+Cjwvc3ZnPgo=") center no-repeat; }
  .resolved-complaints__text {
    font-size: 15px;
    color: #0F122E;
    line-height: 1.53;
    font-family: 'Inter', sans-serif;
    margin-bottom: 32px; }
  .resolved-complaints__row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .resolved-complaints__name {
    font-size: 14px;
    font-weight: bold;
    color: #0F122E;
    line-height: 1.36;
    font-family: 'Manrope', sans-serif;
    margin-right: auto; }
  .resolved-complaints__img {
    height: 20px;
    display: block;
    width: auto;
    max-width: 100%;
    margin-right: 13px;
    flex-shrink: 0; }
  .resolved-complaints__date {
    font-size: 12px;
    color: #A8A9B7;
    line-height: 1.25;
    font-family: 'Inter', sans-serif; }
  .resolved-complaints__carousel {
    margin: 0 -15px; }
    .resolved-complaints__carousel .slick-arrow {
      height: 50px;
      width: 50px;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      z-index: 10;
      overflow: hidden;
      border-radius: 50%;
      text-indent: -9999px;
      cursor: pointer; }
      .resolved-complaints__carousel .slick-arrow::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      .resolved-complaints__carousel .slick-arrow.slick-disabled {
        display: none !important; }
    .resolved-complaints__carousel .slick-prev {
      left: -10px;
      border: 1px solid #F6F6F9;
      box-shadow: 4px 12px 24px rgba(117, 126, 109, 0.05);
      background: #ffffff; }
      .resolved-complaints__carousel .slick-prev::before {
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEyLjUwMSA0LjE2N2wtMS4xNzUgMS4xNzUgMy44MTcgMy44MjVIMS42Njh2MS42NjdoMTMuNDc1bC0zLjgyNSAzLjgyNSAxLjE4MyAxLjE3NUwxOC4zMzUgMTBsLTUuODMzLTUuODMzeiIgZmlsbD0iIzBmMTIyZSIvPjwvc3ZnPg==") center no-repeat;
        transform: rotate(180deg); }
    .resolved-complaints__carousel .slick-next {
      right: -10px;
      border: 1px solid #F6F6F9;
      box-shadow: 4px 12px 24px rgba(117, 126, 109, 0.05);
      background: #ffffff; }
      .resolved-complaints__carousel .slick-next::before {
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTEyLjUwMSA0LjE2N2wtMS4xNzUgMS4xNzUgMy44MTcgMy44MjVIMS42Njh2MS42NjdoMTMuNDc1bC0zLjgyNSAzLjgyNSAxLjE4MyAxLjE3NUwxOC4zMzUgMTBsLTUuODMzLTUuODMzeiIgZmlsbD0iIzBmMTIyZSIvPjwvc3ZnPg==") center no-repeat; }

@media (min-width: 1024px) {
  .resolved-complaints__item:hover {
    opacity: .7; } }
@media (max-width: 1200px) {
  .resolved-complaints__carousel .slick-prev {
    left: 0; }
  .resolved-complaints__carousel .slick-next {
    right: 0; } }
@media (max-width: 768px) {
  .resolved-complaints {
    padding: 55px 0 72px; }
    .resolved-complaints__title {
      font-size: 32px;
      line-height: 1.375;
      margin-bottom: 5px; }
    .resolved-complaints__carousel {
      margin-left: -20px;
      margin-right: -20px; }
    .resolved-complaints__item {
      width: 250px;
      margin-left: 6px;
      margin-right: 6px; } }
