<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="i/icon" type="image/x-icon"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="page-container__main">
      <header class="page-header">
        <div class="page-header__overlay"></div>
        <div class="page-header__wrap">
          <div class="page-header__btn"><span class="page-header__btn-line"></span><span class="page-header__btn-line"></span><span class="page-header__btn-line"></span><span class="page-header__btn-line"></span></div>
          <div class="page-header__column">       <a class="page-header__logo" href="#"><img class="page-header__logo-img" src="i/logo.svg" alt="logo"><img class="page-header__logo-slogan" src="i/slogan.svg" alt="logo"></a>
            <div class="page-header__search"><span class="page-header__search-btn" type="submit"></span>
              <div class="page-header__search-ins">
                <form class="page-header__search-wrap" method="POST" action="">
                  <button class="page-header__search-submit" type="submit"></button>
                  <input class="page-header__search-input" type="text" placeholder="Search here...">
                </form>
              </div>
            </div>
          </div>
          <ul class="page-header__menu page-header__menu_row">
            <li class="page-header__menu-item"><a class="page-header__menu-link page-header__menu-link_category" href="">Categories</a></li>
            <li class="page-header__menu-item"><a class="page-header__menu-link page-header__menu-link_faq" href="">FAQ’s</a></li>
            <li class="page-header__menu-item"><a class="page-header__menu-link page-header__menu-link_signin" href="">Sign In</a></li>
          </ul>
          <div class="page-header__user"><a class="page-header__user-submit" href="#">Submit a Complaint</a></div>
        </div>
        <div class="page-header__mob-dropdown">
          <ul class="page-header__menu">
            <li class="page-header__menu-item"><a class="page-header__menu-link page-header__menu-link_submit" href="">Submit a Complaint</a></li>
            <li class="page-header__menu-item"><a class="page-header__menu-link page-header__menu-link_category" href="">Categories</a></li>
            <li class="page-header__menu-item"><a class="page-header__menu-link page-header__menu-link_faq" href="">FAQ’s</a></li>
            <li class="page-header__menu-item"><a class="page-header__menu-link page-header__menu-link_signin" href="">Sign In</a></li>
          </ul>
        </div>
      </header>
      <footer class="page-footer">
        <div class="page-footer__ins">
          <div class="page-footer__top">
            <div class="page-footer__wrap">
              <div class="page-footer__text">Get a fast response from<br /> every compaints that you post</div><a class="page-footer__btn" href="#">Submit Complaint</a>
            </div>
          </div>
          <div class="page-footer__center">
            <div class="page-footer__column-left"><a class="page-footer__logo" href="#"><img class="page-footer__logo-img" src="i/footer-logo.svg" alt="logo"></a>
              <div class="page-footer__descr">ConsumerComplaints.in is a platform for consumers who have had negative experiences with companies. It is a place to share your concerns, issues, and and have your complaints resolved.</div>
              <div class="page-footer__alphabet">
                <div class="page-footer__alphabet-title">Business directory</div>
                <ul class="page-footer__alphabet-list">
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">a</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">b</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">c</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">d</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">e</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">f</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">g</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">h</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">i</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">j</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">k</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">l</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">m</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">n</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">o</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">p</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">q</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">r</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">s</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">t</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">u</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">v</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">w</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">x</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">y</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">z</a></li>
                  <li class="page-footer__alphabet-item"><a class="page-footer__alphabet-link" href="">0-9</a></li>
                </ul>
              </div>
            </div>
            <div class="page-footer__column-center">
              <div class="page-footer__navi">
                <ul class="page-footer__navi-list">
                  <li class="page-footer__navi-item"><span class="page-footer__navi-title">Main Menu</span></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Consumer Complaints</a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Submit Complaint</a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Categories</a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Latest Complaints</a></li>
                </ul>
                <ul class="page-footer__navi-list">
                  <li class="page-footer__navi-item"><span class="page-footer__navi-title">additional</span></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Terms of Use</a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Privacy Policy</a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Cookie Policy</a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Comment Guideliness</a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">About us</a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Contact Us</a></li>
                </ul>
                <ul class="page-footer__navi-list">
                  <li class="page-footer__navi-item"><span class="page-footer__navi-title">follow us</span></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Facebook </a></li>
                  <li class="page-footer__navi-item"><a class="page-footer__navi-link" href="#">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="page-footer__bottom">   
          <div class="page-footer__ins">
            <div class="page-footer__copyright">&copy; 2021 Indian Consumer Complaints Forum</div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>